header{
    display: grid;
    grid-auto-flow:column ;
    grid-row-start: 3;
    background-color: #172F3B;

    a{color: antiquewhite;}
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

footer{
    display: grid;
    grid-auto-flow: column;
    grid-row-start: 1;
    background-color: #172F3B;

}

body{
    display: grid;
   
}